

.img{
  border: 4px solid;
  display: inline-block;
  background: rgb(205, 159, 149);
  padding: 35px;
}

#superior{
  background:  rgb(199, 116, 98);
  border: 10px solid rgb(199, 116, 98);
}

#titulo{
  display: inline-block;
color: black;
border: 10px solid red;
background: red;
font-size: 20px;
font-style: italic;
border-radius:  20px
}

footer {
  position: absolute;
  bottom: 0;
  /*width: 100%;*/
  height: 40px;
  color: black;
}

#navegador ul {
  list-style-type: none;
  text-align: center;
}

#navegador li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

#navegador li a {
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}

#navegador li a:hover {
  background-color: #333333;
  color: #ffffff;
}
