.menu {
  /* float:  inherit;*/
  display: inline-block;
  position: relative;
  padding: 30px;
  /*border: 4px solid #4CAF50;*/
}

.img {
  /*float: left;*/
  display: inline-block;
  padding: 30px;
  position: relative;
  left: 40px;
  /*  border: 4px solid #4CAF50;*/
}

.campos {
  /* float:center;*/
  display: inline-block;
  position: relative;
  center: 40px;
  padding: 30px;
  /*border: 4px solid*/
}

header, footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}

#navegador ul {
  list-style-type: none;
  text-align: center;
}

#navegador li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

#navegador li a {
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
}

#navegador li a:hover {
  background-color: #333333;
  color: #ffffff;
}
